@import 'variables';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $body-background-color;
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}