<!doctype html>
<html lang="en">
<head>
  <title>James' Boilerplate</title>
  <link href="/assets/css/main.css" rel="stylesheet">
  <script src="//use.typekit.net/fns3nwp.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <div fake-films class="site-container">

    <div class="controls">
      <button ng-click="searchFilms()"
      class="controls__button"> 
        <span ng-if="!isRequesting">
          Generate
        </span>
        <span ng-if="isRequesting">
          Generating...
        </span>
      </button>
    </div>

    <div ng-repeat="fakeFilm in fakeFilms.slice().reverse()"
      class="fake-film">
      <h1 class="fake-film__title">
        <strong>{{ fakeFilm.title }}</strong>
        ({{ fakeFilm.year }})
      </h1>
      <p class="fake-film__director">
        Directed by 
        <span class="fake-film__names">{{ fakeFilm.director }}</span>
      </p>
      <p class="fake-film__actors">
        Starring
        <span class="fake-film__names">{{ fakeFilm.actors }}</span>
      </p>
      <p class="fake-film__plot">{{ fakeFilm.plot }}</p>
    </div>

  </div>
  <script src="/assets/js/app.js"></script>
</body>
</html>