.controls {
  display: inline-block;
  width: 350px;
}

.controls__button {
  width: 100%;
  border-radius: 4px;
  background: #777;
  border: 0;
  padding: 10px;
  font-size: 18px;
  color: white;
  margin: 10px 0;
}

.controls__button:hover {
  cursor: pointer;
}