.fake-film {
  padding: 20px;
  background: black;
  display: inline-block;
  width: 350px;
  font-size: 18px;
  background: #eee;
  color: #222;
  text-align: left;
  margin-bottom: 20px;
}

.fake-film__title {
  font-size: 22px;
  font-weight: normal;
  margin: 0 0 10px 0;
}

.fake-film__director {
  font-size: 16px;
  margin: 0;
  color: #999;
}

.fake-film__actors {
  font-size: 16px;
  color: #999;
  margin: 0 0 10px 0;
}

.fake-film__plot {
  margin: 0;
}

.fake-film__names {
  color: #222;
}

.saved-heading {
  font-size: 24px;
  margin: 20px 0;
  color: #eee;
}
